.container {
	width: 1000px;
	margin: 0 auto;
}
header {
	display: flex;
	padding: 20px 0;
}
.user-menu {
	float: right;
	padding: 0;
	list-style: none;
	li {
		display: inline-block;
		padding-left: 20px;
	}
}
.custom-credit {
	float: left;
}